<!-- templates/registration/login.html -->
{% load static %}

<html>
<head>
    <title>News Verifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="
background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(54,128,231,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(54,128,231,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(54,128,231,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(54,128,231,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(54,128,231,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(54,128,231,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#3680e7', GradientType=0 );
">


    <div class="container-fluid " style="max-width:600px; height:100%; display:table;width:100%; position:relative;top:-30px;">
        <div style="display:table-cell;vertical-align:middle">
            <div class="img text-center">
                <img src="/static/news_icon.png" class="img-fluid" style="max-width:65%;">
                <h1 class="h3 mb-3 font-weight-normal text-light" style="margin: 0px;">News Verificator</h1>
            </div>
            <div class="text-center" style="margin-top:30px">
            <form method="post" class="form-signin rounded login" style="">
                {% csrf_token %}
                <div style="margin:60px"></div>
                <input id="id_username" name="username" autofocus required type="text" class="form-control bg-light" placeholder="Email Address" style="margin-bottom:10px">
                <input id="id_password" name="password" type="password" required class="form-control bg-light" placeholder="Password" style="">
                <button type="submit" class="btn btn-lg btn-secondary" style="margin-top:20px; background-color:#2A5BA7">Log In</button>
            </form>
            </div>
        </div>
    </div>
</body>
</html>