<!-- templates/registration/login.html -->
{% load static %}

<html>
<head>
    <title>News Verifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background: rgba(94,134,255,1);
background: -moz-linear-gradient(top, rgba(94,134,255,1) 0%, rgba(173,0,92,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(94,134,255,1)), color-stop(100%, rgba(173,0,92,1)));
background: -webkit-linear-gradient(top, rgba(94,134,255,1) 0%, rgba(173,0,92,1) 100%);
background: -o-linear-gradient(top, rgba(94,134,255,1) 0%, rgba(173,0,92,1) 100%);
background: -ms-linear-gradient(top, rgba(94,134,255,1) 0%, rgba(173,0,92,1) 100%);
background: linear-gradient(to bottom, rgba(94,134,255,1) 0%, rgba(173,0,92,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e86ff', endColorstr='#ad005c', GradientType=0 );
">

    <div class="container-fluid " style="max-width:900px; height:100%; display:table;width:100%; position:relative;top:30px;">
        <div class="card" style="opacity:0.5">
            <img class="card-img" src="/static/news_icon.png" style="margin:30px; max-width:200px" alt="Card image cap">
            <div class="card-img-overlay">
                        <div class="h2 text-center text-dark" style="margin-top:75px; margin-left:230px; margin-right=30px">Please select news providers you like</div>
            </div>
        </div>

        <div class="container" style="margin-top:40px; padding-bottom:80px">

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="card text-center">
                <div class="card-header">Select multiple providers</div>
                <div class="card-body">
                    <select multiple class="fom-control" id="providers_form" style="width:100%">
                    {% for provider in providers %}
                    <option value="{{provider.name}}">{{provider.name}}</option>
                    {% endfor %}
                    </select>
                </div>
                <div class="card-footer text-center">
                    <button type="submit" id="providers" class="btn-lg btn-secondary">Next ></button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>