<!-- templates/registration/login.html -->
{% load static %}

<html>
<head>
    <title>News Verifier</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        $(function(){
        $(".provider").click(function(){
            cards = document.getElementsByClassName("card")
            list = Array.prototype.slice.call(cards)

            news_badge = document.getElementById(this.id)
            providers = document.getElementsByClassName("provider")


            $(".provider").each(function(){
                $(this).removeClass("bg-secondary")
                $(this).removeClass("text-white")
                $(this).addClass("bg-white")
                $(this).addClass("text-muted")
            })

            selectedProvider = $(this).text().toLowerCase().trim()
            if( $(this).hasClass("bg-white")){
                $(this).removeClass("bg-white")
                $(this).removeClass("text-muted")
                $(this).addClass("bg-secondary")
                $(this).addClass("text-white")
            }else{
                $(this).removeClass("bg-secondary")
                $(this).removeClass("text-white")
                $(this).addClass("bg-white")
                $(this).addClass("text-muted")
            }


            list.forEach(function(element){
                try{
                    innerText = element.getElementsByClassName("providerName")[0].innerHTML.split("</i>")[1].toLowerCase().trim()
                } catch (TypeError){
                    return
                }
                if(selectedProvider != innerText){
                    element.style.display = "none"
                }
                else{
                    element.style.display = ""
                }
            })


        });
    });

    </script>
</head>
<body style="background-color:#dddddd">

        <nav class="navbar navbar-light sticky-top justify-content-center" style="-webkit-box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);
                                                                                                -moz-box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);
                                                                                                box-shadow: 2px -18px 22px 20px rgba(0,0,0,0.75);
                                                                                                background-color:#485078">
          <div class="grid">
              <div class="row justify-content-center">
                <a class="navbar-brand text-light" href="/"><h2><i style="margin-right:10px" class="fas fa-newspaper"></i>News Verifier</h2></a>
              </div>
              <div class="row">
                        <form  method="post">
                                    {% csrf_token %}
                            <div class="input-group">

                              <input type="text" class="form-control" name="search" placeholder="Search news" aria-label="Search" >
                              <div class="input-group-append">
                                <button class="btn btn-secondary" type="submit" style="background-color:#485078">Search <i class="fas fa-search" style="margin-left:20px"></i></button>
                                  <a class="btn btn-secondary" href="/news_list" style="background-color:#485078">Top headlines <i class="fas fa-medal" style="margin-left:20px"></i></a>
                                  <a class="btn btn-secondary" href="/news_check" style="background-color:#485078">Check your news <i class="fas fa-check-circle" style="margin-left:20px"></i></a>

                              </div>
                            </div>
                        </form>
              </div>
          </div>
        </nav>

    <div class="container-fluid justify-content-center" style="height:80%; max-width:90%; position:relative;top:20px; padding-bottom:30px">

        <div class="alert text-white text-center" style="margin:auto; max-width:90%">
            {% for text in google_news %}
                <h5 style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; margin:5px; margin-bottom:15px; background-color:#485078" class="rounded-lg text-light">
                            <i style="margin-right:10px;" class="fas fa-medal"></i>{{text}}
                </h5>
            {% endfor %}
            {% if show_providers == "True" %}
            {% for provider in providers %}
                <h7 style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px; margin:5px" class="bg-white rounded-lg text-muted provider">
                            <i style="margin-right:10px;" class="fas fa-newspaper"></i>{{provider}}
                </h7>
            {% endfor %}
            {% endif %}
        </div>

        <div class="grid">
            <div class="row justify-content-center" style="margin-top:10px;">

            {% for news in news_list %}
                    <div class="card mb-3" style="margin:15px; width:22rem; border:0px solid white; -webkit-box-shadow: 1px 0px 24px -2px rgba(0,0,0,0.75);
                                                    -moz-box-shadow: 1px 0px 24px -2px rgba(0,0,0,0.75);
                                                    box-shadow: 1px 0px 24px -2px rgba(0,0,0,0.75)">
                        <img class="card-img-top" src="{{news.urlToImage}}" alt="No image">
                        <div class="card-body">
                            <h7 class="providerName" id="{{provider}}" style="padding-left:10px; padding-right:10px; padding-top:5px; padding-bottom:5px;" class="bg-white rounded-lg text-muted">
                                <i style="margin-right:10px;" class="fas fa-newspaper"></i>{{news.source.name}}
                            </h7>
                            <h5 class="card-title"><a href="{{news.url}}">{{news.title}}</a></h5>
                            <div class="card-text text-secondary">{{news.content}}</div>
                        </div>

                    </div>
            {% endfor %}
            </div>
        </div>
        </div>

</body>
</html>